<div class="col my-3 card" style="width: 18rem;" [@fade]="this.isDelete" [ngClass]="{'disparition':this.animationDone}"
    [hidden]="isInEditMode">
    <span class="devantImg m-1 badge rounded-pill text-bg-dark" *ngIf="todo.createdAt!=todo.updatedAt">Mis à jour
        le
        {{todo.updatedAt|date:'shortDate'}} à {{todo.updatedAt|date:'H:mm'}}</span>
    <img class="card-img-top" loading="lazy" src="https://picsum.photos/id/{{idPicsum}}/330" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{todo.title}}</h5>
        <p class="card-text">{{todo.content}}</p>
    </div>
    <div class="card-footer d-flex justify-content-between ">
        <p class="my-3">Crée le {{todo.createdAt | date}}</p>
        <p class="my-3">{{todo.author}}</p>
    </div>
    <div class="d-flex">
        <button class="col btn btn-outline-secondary" (click)="goEdit()">
            <i class="bi bi-pencil-square"></i>
        </button>
        <button class="col btn btn-outline-danger" (click)="effacerTodo()">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>

<div class="col my-3 card" [hidden]="!isInEditMode">
    <app-edit-todo [todo4Form]="todo" (retour)="goBack()" (editTodo)="updated()"></app-edit-todo>
</div>