<h3 class="my-3">Mise à jour de la carte</h3>

<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="mb-3" id="zoneEntete">
        <label for="titre" class="form-label">Titre de l'article *</label>
        <input type="text" formControlName="title" class="form-control" id="titre" placeholder="La vie en montagne"
            required>

        <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="alert alert-danger">Le titre est requis
        </div>
    </div>

    <div class="mb-3" id="zoneContenu">
        <label for="contenu" class="form-label">Contenu *</label>
        <textarea rows="11" formControlName="content" class="form-control" id="contenu" placeholder="Bla bla bla..."
            required>
        </textarea>
        <div *ngIf="content?.invalid && (content?.dirty || content?.touched)" class="alert alert-danger">
            <span *ngIf="content?.errors?.['required']">Un contenu est nécessaire</span>
            <span *ngIf="content?.errors?.['minlength']">Le texte doit contenir au moins
                {{content?.errors?.['minlength']?.requiredLength}} caractères
                ({{content?.errors?.['minlength']?.actualLength}}/{{content?.errors?.['minlength']?.requiredLength}})
            </span>
        </div>
    </div>
    <div class="mb-3">
        <label for="auteur" class="form-label">Auteur</label>
        <input type="text" id="auteur" formControlName="author">
    </div>
    <div class="row">
        <button type="submit" class=" col btn btn-primary" [disabled]="todoForm.invalid">Appliquer les
            modifications</button>
    </div>
</form>